.day, .temp-container, .weather-icon {
    margin: 0 auto;
    text-align: center;
}

.day {
    margin-top: 5px;
    margin-bottom: 5px;
}

.temp-low {
    opacity: 0.5;
}

.arrow-down {
    color: black;
}