.day, .temp-container, .weather-icon {
    color: black;
    margin: 0 auto;
    text-align: center;
}

.day {
    margin-top: 5px;
    margin-bottom: 5px;
}

.temp-high, .temp-low {
    font-size: 0.9rem;
}

.temp-low {
    opacity: 0.5;
}

.arrow-down {
    color: black;
}

.accordion-btn {
    height: 136px;
    width: 136px;
    padding-left: 24px;
    padding-right: 24px;
    border: 1px solid grey;
    border-radius: 10px;
    background-color: white;
}

.accordion-btn:hover {
    background-color: lightgoldenrodyellow;
}

.accordion-btn:focus {
    outline: none;
    box-shadow: none;
    border: 2px solid #448AFF;
}